In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder.appName("Top-N Products").getOrCreate()

# Load the dataset
file_path = "1.csv"  # Path to your CSV file
sales_df = spark.read.csv(file_path, header=True, inferSchema=True)

# Aggregating total sales by product_name
aggregated_df = sales_df.groupBy("product_name").sum("sales").withColumnRenamed("sum(sales)", "total_sales")

# Ordering by total_sales in descending order and selecting top 5
top_5_products = aggregated_df.orderBy("total_sales", ascending=False).limit(5)

# Show results
top_5_products.show()

# Stopping Spark Session
spark.stop()

24/12/29 10:47:52 WARN Utils: Your hostname, prateek-HP-Pavilion-Laptop-15-eh1xxx resolves to a loopback address: 127.0.1.1; using 10.20.17.8 instead (on interface wlo1)
24/12/29 10:47:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/29 10:47:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+------------+-----------+
|product_name|total_sales|
+------------+-----------+
|   Product D|        470|
|   Product A|        450|
|   Product E|        400|
|   Product B|        380|
|   Product C|        290|
+------------+-----------+

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Top-N Produce").getOrCreate()

sales_df=spark.read.csv("1.csv",header=True,inferSchema=True)

aggregated_df=sales_df.groupBy("product_name").sum("sales").withColumnRenamed("sum(sales)","total_sales")

top_5 = aggregated_df.orderBy("total_sales",ascending=False).limit(5)

top_5.show()


spark.stop()

+------------+-----------+
|product_name|total_sales|
+------------+-----------+
|   Product D|        470|
|   Product A|        450|
|   Product E|        400|
|   Product B|        380|
|   Product C|        290|
+------------+-----------+

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import least

spark = SparkSession.builder.appName("2nd Program").getOrCreate()

employee_df = spark.read.csv("2.csv",header=True,inferSchema=True)

result_df = employee_df.withColumn("max_quater",least("quarter1","quarter2","quarter3","quarter4"))


result_df.show()

spark.stop()

+-----------+--------+--------+--------+--------+----------+
|employee_id|quarter1|quarter2|quarter3|quarter4|max_quater|
+-----------+--------+--------+--------+--------+----------+
|          1|      85|      90|      88|      92|        85|
|          2|      78|      81|      79|      85|        78|
|          3|      92|      88|      91|      54|        54|
|          4|      75|      80|      78|      82|        75|
|          5|      89|      85|      87|      88|        85|
+-----------+--------+--------+--------+--------+----------+

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

spark = SparkSession.builder.appName("3rd Program").getOrCreate()

customer_df = spark.read.csv("3.csv",header=True,inferSchema=True)


result_df = customer_df.withColumn("currency",lit("USD"))

result_df.show()

spark.stop()

+-----------+--------+--------+
|customer_id|spending|currency|
+-----------+--------+--------+
|          1|   150.5|     USD|
|          2|   200.0|     USD|
|          3|  120.75|     USD|
|          4|   300.6|     USD|
|          5|  250.25|     USD|
+-----------+--------+--------+

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("4th Program").getOrCreate()

price_df = spark.read.csv("4.csv",header=True,inferSchema=True)

price_df.createOrReplaceTempView("price_view")

sqlquery = """
    SELECT category,subcategory,SUM(sales) AS total_sales
    FROM price_view
    GROUP BY category,subcategory
    ORDER BY total_sales ASC
"""


result_df = spark.sql(sqlquery)

result_df.show()

spark.stop()

+-----------+-----------+-----------+
|   category|subcategory|total_sales|
+-----------+-----------+-----------+
|  Furniture|      Chair|        500|
|  Furniture|      Table|        800|
|Electronics|     Laptop|       1200|
|Electronics|     Mobile|       1200|
+-----------+-----------+-----------+