In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,count,when,length


spark = SparkSession.builder.appName("Q1").getOrCreate()

df = spark.read.csv("emp_data.csv",inferSchema=True,header=True)

# df.count()
# df.printSchema()

"""

null_check = df.select(
    [
        count(when(col(c).isNull() | isnan(c) | (col(c) == ""), c)).alias(c)
        for c in df.columns
    ]
)

null_check.show()

"""

df = df.fillna({"LastName":"Unknown"})
df = df.filter(col("EmpID").isNotNull() & col("StartDate").isNotNull())


df = df.withColumn(
    "Current Employee Rating",
    when(col("Current Employee Rating") < 1, 1)
    .when(col("Current Employee Rating") > 5, 5)
    .otherwise(col("Current Employee Rating")),
)

# df.select("LocationCode").distinct().show()

"""
count_4_digits = df.filter(length(col("LocationCode")) == 4).count()

count_5_digits = df.filter(length(col("LocationCode")) == 5).count()
"""
 

# newdf = df.dropDuplicates(["EmpID"])
# newdf = df.dropDuplicates()



# Q4

newdf = df.groupBy("DepartmentType","Title").count()

newdf.show()


# Q5


highest_performance_df = df.groupBy("DepartmentType").agg(max("Current Employee Rating").alias("Current Employee Rating"))

highest_df = df.join(
    highest_performance_df,
    (df["DepartmentType"] == highest_performance_df["DepartmentType"]) & 
    (df["Current Employee Rating"] == highest_performance_df["Current Employee Rating"]),
    "inner"
)

highest_df.show()


spark.stop()

+-----------------+--------------------+-----+
|   DepartmentType|               Title|count|
+-----------------+--------------------+-----+
|            IT/IS|       Data Analyst |    1|
|Production       |Production Techni...|    1|
|            IT/IS|Principal Data Ar...|    8|
|            IT/IS|        Data Analyst|   10|
|Production       |    Network Engineer|    1|
|            IT/IS|Sr. Network Engineer|   30|
| Executive Office|    Network Engineer|   18|
|            IT/IS|    Network Engineer|   22|
|            IT/IS|      Data Architect|    2|
|            IT/IS|  Area Sales Manager|    7|
|            Sales|  Area Sales Manager|  119|
|            IT/IS|Enterprise Architect|    5|
|            IT/IS|          IT Support|   44|
|            Sales| Area Sales Manager?|    1|
|            Sales| Area Sales Manager.|    1|
|            IT/IS|Software Engineer...|    1|
|            IT/IS|      Sr. Accountant|    4|
|            IT/IS|             Sr. DBA|    6|
|            IT/IS|Database Administ...|   15|
|            IT/IS|                 CIO|    2|
+-----------------+--------------------+-----+
only showing top 20 rows

+-----+----------+---------+---------+---------+------------------+-----------------+------------+--------------+------------+-------+--------------------------+---------------+----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+----------------+-----------------------+
|EmpID| FirstName| LastName|StartDate| ExitDate|             Title|       Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|  DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|  DepartmentType|Current Employee Rating|
+-----+----------+---------+---------+---------+------------------+-----------------+------------+--------------+------------+-------+--------------------------+---------------+----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+----------------+-----------------------+
| 3467|     Celia|   Curtis|06-May-20|     NULL|Area Sales Manager| Michael Odonnell|         WBL|        Active|    Contract| Zone A|                 Part-Time|            Unk|           Sales|            Fielders|14-05-1987|   KY|              Engineer|    Female|       94333|   Asian|   Divorced|          Exceeds|                      5|           Sales|                      5|
| 3480|  Jerimiah|   Harmon|08-Sep-22|16-Oct-22|Area Sales Manager|        Eric King|          PL|  Future Start|   Full-Time| Zone C|                 Temporary|     Retirement|           Sales|                Catv|09-08-1946|   TX|            Supervisor|    Female|       75671|   Black|    Widowed|      Fully Meets|                      5|           Sales|                      5|
| 3483|   Jaslene|  Harding|26-Sep-21|     NULL|Area Sales Manager| Krystal Hamilton|         SVG|        Active|   Part-Time| Zone B|                 Temporary|            Unk|           Sales|Project Managemen...|19-06-1964|   CO|           Coordinator|      Male|       42605|   Asian|    Widowed|      Fully Meets|                      5|           Sales|                      5|
| 3497|    Graham|Rodriguez|08-Dec-21|     NULL|Area Sales Manager|    Kendra Murray|         TNS|        Active|   Part-Time| Zone C|                 Temporary|            Unk|           Sales|Project Managemen...|18-02-1981|   OR|               Lineman|    Female|       58210|Hispanic|    Widowed|      Fully Meets|                      5|           Sales|                      5|
| 3822|   Katrina|  Lambert|24-Sep-19|04-Apr-22|  Network Engineer|Calvin Williamson|         WBL|        Active|   Full-Time| Zone B|                 Part-Time|     Retirement|Executive Office|       General - Con|18-09-1975|   MA|            Technician|      Male|       56727|Hispanic|   Divorced|      Fully Meets|                      3|Executive Office|                      3|
| 3823|Alexzander|     Pope|17-Oct-22|26-Jun-23|  Network Engineer|  David Rodriguez|         TNS|        Active|   Full-Time| Zone A|                 Temporary|    Involuntary|Executive Office|        Shop (Fleet)|24-08-1987|   MA|            Supervisor|      Male|       12469|   White|     Single|Needs Improvement|                      3|Executive Office|                      3|
| 3833|     Elise|  Vazquez|26-Jan-22|02-Nov-22|  Network Engineer|    Melissa Baker|         PYZ|        Active|   Full-Time| Zone A|                 Part-Time|     Retirement|Executive Office|    Field Operations|12-05-1953|   MA|              Top Hand|      Male|       21738|   Asian|     Single|              PIP|                      3|Executive Office|                      3|
| 3834|   Monique|   Pierce|10-May-19|05-Aug-21|  Network Engineer|  Gregory Coleman|         WBL|        Active|    Contract| Zone C|                 Part-Time|    Involuntary|Executive Office|    Field Operations|11-07-1961|   MA|            Technician|      Male|       40039|Hispanic|    Married|      Fully Meets|                      3|Executive Office|                      3|
| 3844|     Edgar|Underwood|10-Jun-21|18-Aug-22|  Network Engineer|   Melissa Torres|         PYZ|        Active|   Part-Time| Zone C|                 Temporary|      Voluntary|Executive Office|       General - Con|02-06-1961|   MA|               Laborer|      Male|       49677|   White|     Single|              PIP|                      3|Executive Office|                      3|
| 3845|    Jaiden|Underwood|25-Aug-19|     NULL|  Network Engineer|  Jordan Caldwell|         WBL|        Active|    Contract| Zone A|                 Full-Time|            Unk|Executive Office|    Field Operations|10-08-1969|   MA|               Laborer|      Male|       69726|Hispanic|     Single|              PIP|                      3|Executive Office|                      3|
| 3854|    Jayden|    Mckee|06-Jun-19|05-Sep-19|  Network Engineer|  Matthew Miranda|         WBL|        Active|   Part-Time| Zone B|                 Temporary|     Retirement|Executive Office|     Technology / It|24-01-1942|   MA|               Manager|      Male|       72343|   Black|     Single|      Fully Meets|                      3|Executive Office|                      3|
| 3855|     Brady|    Yoder|25-May-21|13-Aug-22|  Network Engineer|      Jason Patel|         WBL|        Active|   Part-Time| Zone B|                 Part-Time|     Retirement|Executive Office|     People Services|01-10-1999|   MA|            Accountant|      Male|       77314|   Other|    Widowed|      Fully Meets|                      3|Executive Office|                      3|
| 3856|    Darwin|    Allen|17-Mar-23|12-Jun-23|  Network Engineer|    Michael Young|         TNS|        Active|   Part-Time| Zone C|                 Part-Time|    Involuntary|Executive Office|Wireline Construc...|17-05-1994|   MA|             Groundman|      Male|       57170|   Other|   Divorced|              PIP|                      3|Executive Office|                      3|
| 3866|    Kaeden|   Vargas|04-Sep-20|17-Apr-21|  Network Engineer|       Harold Lee|         TNS|        Active|    Contract| Zone A|                 Full-Time|     Retirement|Executive Office|    Field Operations|09-11-1959|   MA|            Technician|      Male|       58737|   Other|   Divorced|      Fully Meets|                      3|Executive Office|                      3|
| 3867|      Lena| Sandoval|26-Aug-18|     NULL|  Network Engineer|     Heather Hill|         PYZ|        Active|   Part-Time| Zone B|                 Full-Time|            Unk|Executive Office|                Catv|21-10-1986|   MA|                 Clerk|      Male|        5363|   Other|    Widowed|      Fully Meets|                      3|Executive Office|                      3|
| 3877|     Oscar|    Lopez|22-Oct-18|07-Apr-20|  Network Engineer| Christian Ortega|         MSC|        Active|   Part-Time| Zone A|                 Full-Time|    Resignation|Executive Office|       General - Con|21-01-1976|   MA|               Lineman|      Male|       81607|   Asian|     Single|              PIP|                      3|Executive Office|                      3|
| 3878|    Carter|     Cook|08-Sep-18|23-Aug-21|  Network Engineer|   Michael Morton|         TNS|        Active|    Contract| Zone B|                 Part-Time|      Voluntary|Executive Office|           Engineers|18-02-1967|   MA|              Engineer|      Male|       69536|   Other|   Divorced|      Fully Meets|                      3|Executive Office|                      3|
| 3889|      Myla|   Mullen|05-Sep-22|30-Oct-22|  Network Engineer|       Lisa Chase|         TNS|        Active|    Contract| Zone B|                 Part-Time|    Resignation|Executive Office|       General - Con|15-10-1982|   MA|               Foreman|      Male|       26421|   Black|     Single|      Fully Meets|                      3|Executive Office|                      3|
| 3901|     Deven|  Merritt|18-Jun-21|     NULL|  Network Engineer|  Anthony Cruz MD|          EW|        Active|   Part-Time| Zone A|                 Temporary|            Unk|Executive Office|Project Managemen...|05-02-1988|   MA|       Project Manager|      Male|        3921|Hispanic|     Single|      Fully Meets|                      3|Executive Office|                      3|
| 3902|  Hadassah|    Moran|22-May-23|16-Jun-23|  Network Engineer|   Michelle Perry|         MSC|        Active|    Contract| Zone B|                 Temporary|    Resignation|Executive Office|Wireline Construc...|02-06-1964|   MA|             Groundman|      Male|       84876|   Black|     Single|      Fully Meets|                      3|Executive Office|                      3|
+-----+----------+---------+---------+---------+------------------+-----------------+------------+--------------+------------+-------+--------------------------+---------------+----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+----------------+-----------------------+
only showing top 20 rows