In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,when,count, isnan,max

spark = SparkSession.builder.appName("Q1").getOrCreate()

df = spark.read.csv("emp_data.csv",header=True,inferSchema=True)

# df.printSchema()

"""
null_check_df = df.select([
    count(when( col(c).isNull() | (col(c)=="") | isnan(c)  , c)).alias(c)
    for c in df.columns
])

null_check_df.show()
"""

df = df.fillna({"LastName":"Unknown"})
df = df.filter(col("EmpID").isNotNull() & col("StartDate").isNotNull() & col("ExitDate").isNotNull())

df = df.withColumn("Current Employee Rating",
when(col("Current Employee Rating")<1,1)
.when(col("Current Employee Rating")>5,5)
.otherwise(col("Current Employee Rating"))
)


""" 
outlier_df = df.select(
    count(when((col("Current Employee Rating")<1) | (col("Current Employee Rating")>5),col("Current Employee Rating")))
)

outlier_df.show()
"""


""" 
duplictes = df.groupBy(df.columns).count().filter("count>1")

duplictes.show()
"""


df.dropDuplicates(["EmpID"])
df.dropDuplicates()


# Q4

deptgroup = df.groupby(["DepartmentType","Title"]).count()
deptgroup.show()


# Q5

highest_rating_dept_df = df.groupBy("DepartmentType").agg(max("Current Employee Rating").alias("Current Employee Rating"))
highest_rating_dept_df.show()


joined_rating_df = df.join(
    highest_rating_dept_df,
    (df["DepartmentType"] == highest_rating_dept_df["DepartmentType"]) & (df["Current Employee Rating"] == highest_rating_dept_df["Current Employee Rating"]),
    "inner"
)

joined_rating_df.show()


df.write.csv("output1",header=True,mode="overwrite")


spark.stop()

24/12/30 07:26:36 WARN Utils: Your hostname, prateek-HP-Pavilion-Laptop-15-eh1xxx resolves to a loopback address: 127.0.1.1; using 10.20.17.8 instead (on interface wlo1)
24/12/30 07:26:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/30 07:26:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+--------------------+--------------------+-----+
|      DepartmentType|               Title|count|
+--------------------+--------------------+-----+
|               IT/IS|       Data Analyst |    1|
|               IT/IS|Principal Data Ar...|    3|
|               IT/IS|        Data Analyst|    2|
|   Production       |    Network Engineer|    1|
|               IT/IS|Sr. Network Engineer|   18|
|    Executive Office|    Network Engineer|   15|
|               IT/IS|    Network Engineer|   11|
|               IT/IS|      Data Architect|    2|
|               IT/IS|  Area Sales Manager|    3|
|               Sales|  Area Sales Manager|   62|
|               IT/IS|Enterprise Architect|    4|
|               IT/IS|          IT Support|   23|
|               IT/IS|      Sr. Accountant|    1|
|               IT/IS|             Sr. DBA|    3|
|               IT/IS|Database Administ...|    6|
|               IT/IS|                 CIO|    1|
|   Production       |Production Techni...|   93|
|   Production       |Production Techni...|   38|
|Software Engineering|   Software Engineer|    1|
|               Sales| Area Sales Manager;|    1|
+--------------------+--------------------+-----+

+--------------------+-----------------------+
|      DepartmentType|Current Employee Rating|
+--------------------+-----------------------+
|               Sales|                      5|
|   Production       |                      5|
|    Executive Office|                      3|
|Software Engineering|                      3|
|               IT/IS|                      4|
+--------------------+-----------------------+

24/12/30 07:26:45 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----+----------+---------+---------+---------+-------------------+-----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+--------------------+-----------------------+
|EmpID| FirstName| LastName|StartDate| ExitDate|              Title|       Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|      DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|      DepartmentType|Current Employee Rating|
+-----+----------+---------+---------+---------+-------------------+-----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+--------------------+-----------------------+
| 3480|  Jerimiah|   Harmon|08-Sep-22|16-Oct-22| Area Sales Manager|        Eric King|          PL|  Future Start|   Full-Time| Zone C|                 Temporary|     Retirement|               Sales|                Catv|09-08-1946|   TX|            Supervisor|    Female|       75671|   Black|    Widowed|      Fully Meets|                      5|               Sales|                      5|
| 3822|   Katrina|  Lambert|24-Sep-19|04-Apr-22|   Network Engineer|Calvin Williamson|         WBL|        Active|   Full-Time| Zone B|                 Part-Time|     Retirement|    Executive Office|       General - Con|18-09-1975|   MA|            Technician|      Male|       56727|Hispanic|   Divorced|      Fully Meets|                      3|    Executive Office|                      3|
| 3823|Alexzander|     Pope|17-Oct-22|26-Jun-23|   Network Engineer|  David Rodriguez|         TNS|        Active|   Full-Time| Zone A|                 Temporary|    Involuntary|    Executive Office|        Shop (Fleet)|24-08-1987|   MA|            Supervisor|      Male|       12469|   White|     Single|Needs Improvement|                      3|    Executive Office|                      3|
| 3833|     Elise|  Vazquez|26-Jan-22|02-Nov-22|   Network Engineer|    Melissa Baker|         PYZ|        Active|   Full-Time| Zone A|                 Part-Time|     Retirement|    Executive Office|    Field Operations|12-05-1953|   MA|              Top Hand|      Male|       21738|   Asian|     Single|              PIP|                      3|    Executive Office|                      3|
| 3834|   Monique|   Pierce|10-May-19|05-Aug-21|   Network Engineer|  Gregory Coleman|         WBL|        Active|    Contract| Zone C|                 Part-Time|    Involuntary|    Executive Office|    Field Operations|11-07-1961|   MA|            Technician|      Male|       40039|Hispanic|    Married|      Fully Meets|                      3|    Executive Office|                      3|
| 3844|     Edgar|Underwood|10-Jun-21|18-Aug-22|   Network Engineer|   Melissa Torres|         PYZ|        Active|   Part-Time| Zone C|                 Temporary|      Voluntary|    Executive Office|       General - Con|02-06-1961|   MA|               Laborer|      Male|       49677|   White|     Single|              PIP|                      3|    Executive Office|                      3|
| 3854|    Jayden|    Mckee|06-Jun-19|05-Sep-19|   Network Engineer|  Matthew Miranda|         WBL|        Active|   Part-Time| Zone B|                 Temporary|     Retirement|    Executive Office|     Technology / It|24-01-1942|   MA|               Manager|      Male|       72343|   Black|     Single|      Fully Meets|                      3|    Executive Office|                      3|
| 3855|     Brady|    Yoder|25-May-21|13-Aug-22|   Network Engineer|      Jason Patel|         WBL|        Active|   Part-Time| Zone B|                 Part-Time|     Retirement|    Executive Office|     People Services|01-10-1999|   MA|            Accountant|      Male|       77314|   Other|    Widowed|      Fully Meets|                      3|    Executive Office|                      3|
| 3856|    Darwin|    Allen|17-Mar-23|12-Jun-23|   Network Engineer|    Michael Young|         TNS|        Active|   Part-Time| Zone C|                 Part-Time|    Involuntary|    Executive Office|Wireline Construc...|17-05-1994|   MA|             Groundman|      Male|       57170|   Other|   Divorced|              PIP|                      3|    Executive Office|                      3|
| 3866|    Kaeden|   Vargas|04-Sep-20|17-Apr-21|   Network Engineer|       Harold Lee|         TNS|        Active|    Contract| Zone A|                 Full-Time|     Retirement|    Executive Office|    Field Operations|09-11-1959|   MA|            Technician|      Male|       58737|   Other|   Divorced|      Fully Meets|                      3|    Executive Office|                      3|
| 3877|     Oscar|    Lopez|22-Oct-18|07-Apr-20|   Network Engineer| Christian Ortega|         MSC|        Active|   Part-Time| Zone A|                 Full-Time|    Resignation|    Executive Office|       General - Con|21-01-1976|   MA|               Lineman|      Male|       81607|   Asian|     Single|              PIP|                      3|    Executive Office|                      3|
| 3878|    Carter|     Cook|08-Sep-18|23-Aug-21|   Network Engineer|   Michael Morton|         TNS|        Active|    Contract| Zone B|                 Part-Time|      Voluntary|    Executive Office|           Engineers|18-02-1967|   MA|              Engineer|      Male|       69536|   Other|   Divorced|      Fully Meets|                      3|    Executive Office|                      3|
| 3889|      Myla|   Mullen|05-Sep-22|30-Oct-22|   Network Engineer|       Lisa Chase|         TNS|        Active|    Contract| Zone B|                 Part-Time|    Resignation|    Executive Office|       General - Con|15-10-1982|   MA|               Foreman|      Male|       26421|   Black|     Single|      Fully Meets|                      3|    Executive Office|                      3|
| 3902|  Hadassah|    Moran|22-May-23|16-Jun-23|   Network Engineer|   Michelle Perry|         MSC|        Active|    Contract| Zone B|                 Temporary|    Resignation|    Executive Office|Wireline Construc...|02-06-1964|   MA|             Groundman|      Male|       84876|   Black|     Single|      Fully Meets|                      3|    Executive Office|                      3|
| 3914| Nathanial|    Booth|04-Feb-20|29-Jan-21|   Network Engineer|       Jorge Mayo|         SVG|        Active|    Contract| Zone C|                 Temporary|    Resignation|    Executive Office|           Engineers|22-07-1958|   MA|       Project Manager|      Male|        9758|   Other|     Single|          Exceeds|                      3|    Executive Office|                      3|
| 3927|    Misael|   Hunter|01-Mar-20|05-Mar-22|   Network Engineer|    Gary Davidson|         SVG|        Active|    Contract| Zone C|                 Temporary|    Involuntary|    Executive Office|              Aerial|12-10-1982|   MA|               Lineman|      Male|       50639|   Other|     Single|      Fully Meets|                      3|    Executive Office|                      3|
| 3966|    Konner| Villegas|19-Oct-18|04-Sep-21|  Software Engineer|       Ruth Myers|         NEL|  Future Start|    Contract| Zone A|                 Part-Time|      Voluntary|Software Engineering|    Field Operations|28-04-1978|   MA|               Laborer|    Female|        5707|   Black|     Single|      Fully Meets|                      3|Software Engineering|                      3|
| 3466|   Clayton|   Walker|13-Apr-22|10-Apr-23| Area Sales Manager|       Jon Holden|         PYZ|        Active|   Part-Time| Zone C|                 Full-Time|     Retirement|               IT/IS|              Aerial|26-01-1979|   KY|            Supervisor|      Male|       64288|   Other|    Married|          Exceeds|                      4|               IT/IS|                      4|
| 3436|    Joseph|  Martins|21-Jan-22|29-Jun-23|Area Sales Manager;|   George Jenkins|         BPC|        Active|   Part-Time| Zone B|                 Temporary|    Resignation|               Sales|           Engineers|11-11-1949|   TX|              Engineer|      Male|       78207|   Asian|    Widowed|      Fully Meets|                      5|               Sales|                      5|
| 3449|    Gerald|  Preston|10-May-23|27-May-23| Area Sales Manager|    Ashley Reeves|          EW|  Future Start|    Contract| Zone B|                 Temporary|    Involuntary|               Sales|       General - Eng|18-09-1992|   CO|            Technician|      Male|        5168|   Black|     Single|      Fully Meets|                      5|               Sales|                      5|
+-----+----------+---------+---------+---------+-------------------+-----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+--------------------+-----------------------+
only showing top 20 rows